**/.metadata

**/03-todo-web-application-mysql

04-todo-web-application-mysql/target
04-todo-web-application-mysql/.settings
04-todo-web-application-mysql/.classpath
04-todo-web-application-mysql/.project